/*RESET*/
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
 nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
    transition: 0.5s;
}
/*HEADER*/
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);  
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    z-index: 1;
}
header img{
    width: 140px;
    
}
header nav{
    display: flex;
    
}
header li a{
    color: #ffffff;
    font-size: 1.5rem;
}
header li a:hover{
    padding-bottom: 24px;
    border-bottom: 3px solid rgba(2, 102, 252, 0.685);
    transition: 0s;
}
header li{
    margin: 0 15px;
}
header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}
@media(max-width: 600px){
    header{
        flex-direction: column-reverse;
    }
}















/*TEXTO_IMAGEM*/
.img_fundo h1{
    color: white;
    margin-bottom: 30px;
    margin-left: 23px;
    font-size: 3rem;
}
.btn-discovery{
    color: #ffffff;
    cursor: pointer;
    border: 1px solid rgb(46, 46, 46);
    background-color: #4d4d4d;
    padding: 15px 110px;
    border-radius: 3px;
    margin-left: 19px;
    font-size: 20px;
}
/*IMAGEM DE FUNDO MENU*/
.img_fundo{
    background-image: url("../header/img/fundo_site.jpg");
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    filter: brightness(90%);
}
@media(max-width: 600px){
    
}











/*CORPO DO SITE*/
.controler{
    display: flex;
    margin-top: 5px;
    margin-bottom: 25px;  
}
.space{
    position: relative;
}
.text_one{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    left: 42px;
    bottom: 42px;
    border: 2px solid #ffffff;
    padding: 15px 78px;
}
.text_up{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    left: 42px;
    bottom: 115px;
    font-size: 35px;
    
    
}
#img1{
    width: 99.5%;
}
#img2{
   width: 100%;
}
@media(max-width: 600px){
   .controler{
       flex-direction: column;
   }
}




























/*MENU ABAIXO DAS IMAGENS*/
.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    
}
.box{
    background-color: #f2f2f2;
    padding: 50px;
}
.box_one{
    width: 35%; 
    font-size: 28px;
}
.box_two{
    width: 16%;
    padding: 33px;
}
.box_three{
    width: 16%;
    padding: 30px;
}
.box_four{
    width: 16%;
    padding: 30px;
}
.box_five{
    width: 16%;
}
.box a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    margin-top: 60px;
    padding: 20px 15px;
    color: black;
}
#color{
    background-color: #1c69d4;
    color: #ffffff;
}
.mid_web{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}
.mid{
    background-color: #f2f2f2;
    padding: 45px  120px  45px 120px;
}
.fale{
    margin-left: 10px;
    margin-right: 10px;
}
.text{
    display: flex;
    margin-bottom: 120px;
}
.text p{
    width: 73%;
    margin: 0 auto;
}

.icon{
margin-left: 50px;
margin-bottom: 0px;
    
}
@media(max-width: 600px){
   .container{
       flex-direction: column;
   }
   .mid_web{
       flex-direction: column;
   }
}





















/*RODAPÉ*/
.tit_rodape img{
    width: 50px;
}
.tit_rodape li{
    list-style: none;
    margin-left: 20px;
}
.tit_rodape{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    border-bottom: 1px solid rgb(8, 8, 8); 
}
.list_footer{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #f2f2f2;
}